## Exploration of  neighbourhoods of Toronto City

Step 1: Scrape the web page having details of Toronto neighbourhoods

In [8]:
# Using pandas.read_html package for web scraping 
import pandas as pd 
import numpy as np 

url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df1=pd.read_html(url)
df1=df1[0]   # To get the first table 
df2 = df1[['Postal Code','Borough','Neighbourhood']]
df2

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

Step 2: Cleaning the dataframe to filter out only ASSIGNED Borough and Neighbourhood values

In [9]:

#1. Create a Boolean to check against each row
is_borough_assigned= df2['Borough']!='Not assigned'
print(is_borough_assigned.head)

<bound method NDFrame.head of 0      False
1      False
2       True
3       True
4       True
       ...
175    False
176    False
177    False
178     True
179    False
Name: Borough, Length: 180, dtype: bool>

In [10]:
#2 counting the number of rows with 'Not assigned' values in Borough column

print(df2[df2.Borough == 'Not assigned'].shape[0])

77

In [11]:
#3. Get all records without rows where Borough='Not assigned'. i.e filtering out all the records that have Borough values
df3=df2[df2.Borough != 'Not assigned']
df3.shape

(103, 3)

In [12]:
#4 counting the number of rows with 'Not assigned' values in Borough column. We should get 0 

print(df3[df3.Borough == 'Not assigned'].shape[0])

0

In [13]:
#counting the number of rows with 'Not assigned' values in Neighbourhood column. There are no rows with 'Not assigned' values. Hence no changes made

print(df3[df3.Neighbourhood == 'Not assigned'].shape[0])

0

In [14]:
print(df3.shape)

(103, 3)

Step 3
Create a new dataframe with above details and coordinates included.

In [15]:
#Read csv file containing coordinates
import pandas as pd

df5 = pd.read_csv('http://cocl.us/Geospatial_data')

In [16]:
df5

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [21]:
Step 4: Joining both dataframes  \
df3 contails all records -postalcode, borough,neighbourhood 
df5 contans postalcode,latitude,longitude

SyntaxError: invalid syntax (<ipython-input-21-28a7b77dad53>, line 1)

In [17]:
#using join command to append columns .
#For this converting the postal code of both columns as index , so that they will be joined on basis of that


df_final=df3.set_index('Postal Code').join(df5.set_index('Postal Code'))

In [18]:
df_final

,Borough,Neighbourhood,Latitude,Longitude
Postal Code,,,,
M3A,North York,Parkwoods,43.753259,-79.329656
M4A,North York,Victoria Village,43.725882,-79.315572
M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
...,...,...,...,...
M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
M7Y,East Toronto,"Business reply mail Processing Centre, South C...",43.662744,-79.321558
M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.636258,-79.498509
M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.628841,-79.520999